<!doctype html>
<html ng-app="register">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Richard Luo</title>
<base href="/">
<link rel="stylesheet" type="text/css" href="../libs/bootstrap-3.3.7/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/mycss.css">

<link href="../libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<script src="../libs/jquery-3.2.1.js"></script>

<script src="../libs/bootstrap-3.3.7/dist/js/bootstrap.js" type="text/javascript"></script>



<script src="../libs/angular/angular.js" type="text/javascript"></script>
<script src="../libs/angular-route/angular-route.js" type="text/javascript"></script>
<script src="../libs/angular-flash-alert/dist/angular-flash.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>


<script src="view/controller/core.js" type="text/javascript"></script>
<script src="view/controller/service/UserService.js" type="text/javascript"></script>
<script src="view/controller/service/FlashService.js" type="text/javascript"></script>
<script src="view/controller/service/AuthenticationService.js" type="text/javascript"></script>
<script src="view/controller/RegisterController.js" type="text/javascript"></script>
<script src="view/controller/LoginController.js" type="text/javascript"></script>

<body>

  <div class="jumbotron" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';padding-top: 48px;
      padding-bottom: 48px;line-height: 1.5;background-color: rgb(249, 249, 249);">

    <div class="container" style="width:30%;margin:auto;padding:20px" ng-controller="RegisterController">
      <div style="">
        <img src="../img/man.png" class="img-responsive center-block" style="margin-top:0px;margin-bottom:30px"></img>
      </div>
      <!-- <div class="container" > -->
        <form name="register_form" id="register_form" style="padding-bottom:30px;" >
          <!-- style="width:70%;margin:20px 0 20px 0" -->
          <h4 class="text-center" style="margin-bottom:15px;font-size:24px;font-weight:600;letter-spacing: -0.5px;">Register</h4>
          <div style="width:80%;margin:auto;padding:20px;font-size:14px;background-color:#FFFFFF;border:1px solid #d8dee2;border-radius:5px;">
            <!-- <div class="col-lg-12"> -->
              <div class="form-group">
                <label for="username" style="margin-bottom:7px;font-weight: 600;">Choose a username</label>
                <input type="text" name="username" class="form-control" placeholder="numbers, characters..." required ng-model="username">
              </div>
              <div class="form-group">
                <label for="password" style="width:100%;margin-bottom: 7px;font-weight: 600;">Choose a Password <a href="#" class="pull-right" style="border:1px solid transparent;font-size:12px">Forget Password?</a></label>
                <input type="password" name="password" class="form-control" placeholder="at least 8 numbers and one uppercase letter" required ng-model="password">
              </div>
              <flash-message duration="5000" show-close="true">
              </flash-message>
              <div style="text-align:center"><img src="../img/Spinner.gif" style="width:10%" ng-show="dataLoading" /></div>
              <button ng-click="register()" type="button" style="width:100%;margin-top:15px" class="btn btn-success" >Register</button>
              <button ng-click="cancel()" type="button" style="width:100%;margin-top:15px" class="btn btn-default" >Cancel</button>
            <!-- </div> -->
          </div>
        </form>
        <!-- <p style="font-size:14px;font-weight:400;line-height:1.5;color:#24292e;margin:auto;width:80%;padding:15px 20px;text-align:center;border:1px solid #d8dee2;border-radius: 5px;">New to MyWebSite?
          <a href="#" style="color: #0366d6;" data-toggle="modal" data-target="#RegisterModal">Create an account</a>
        </p> -->
    </div>

</body>
</html>
